.banner-right
  margin-top: 15px
  position: relative
  &__wrap
    height: 400px
    display: block
  &__inner
    position: absolute
    top: 0
    padding: 20px
    text-align: center

    font-size: 20px
    font-family: 'OpenSans',sans-serif;
    height: 400px
    box-sizing: border-box;
  &__title
    display: inline-block
    color: #fff
    margin-bottom: 80px
    b
      font-size: 24px
  &__text
    display: inline-block
    color: #fff
    margin-top: 50px
  &__btn
    font-size: 14px
    color: #fff
    font-family: 'PTSansItalic',sans-serif;
    position: absolute
    bottom: 20px
    right: 19px
    display: block
    width: 200px
    height: 45px