.banner-right
  margin-top: 15px
  &__wrap
    position: relative
    height: 400px
    display: block
  &__inner
    position: absolute
    top: 0
    padding: 20px
    text-align: center
    color: #fff
    font-size: 20px
    font-family: 'OpenSans',sans-serif;
    height: 400px
    box-sizing: border-box;
  &__title
    display: inline-block
    margin-bottom: 80px
  &__text
    display: inline-block
    margin-top: 80px
  &__btn
    font-size: 14px
    font-family: 'PTSansItalic',sans-serif;
    position: absolute
    bottom: 20px
    right: 19px
    display: block
    width: 200px
    height: 45px
