//.clinics__wrapper
//  border: 1px solid #ececec;
//  box-shadow: 0 0 18px rgba(0, 0, 0, 0.1);
//  padding-top: 30px
//  margin-bottom: 30px
//  position: relative
//  //*
//  //  box-sizing border-box
//  .clinic
//    &__doc
//      position: relative
//      display: inline-block
//      padding-left: 5px
//      &-item
//        width: auto
//      .bx-viewport
//        border: none
//      .bx-wrapper
//        margin: 0
//    &-about
//      border: none
//      &-text
//        display: inline-block
//        max-height: 90px
//        overflow hidden
//      &__content
//        margin-bottom: 10px
//        padding-right: 20px
//        width: auto
//        &-caption
//          text-align: center
//  .well-doc__item-rating
//    margin-top: 0
//  .well-doc__item-name
//
//    float: none
//    padding-left: 20px
//    width: 60%
//    &-wrap
//      border: 1px solid lightgray
//      border-rihgt: none
//      width: 350px
//      height: 188px;
//
//    p
//      max-height: 45px
//    //&__leftside
//    //  display: inline-block
//    //  width: 45%
//  .doc
//    &__price
//      background-color: #f8f8f8;
//      color: #1a1a1a;
//      font-weight: normal;
//      font-size: 18px
//      padding: 10px
//      .row
//        padding: 0
//        margin: 0
//        font-family: 'OpenSansBold', sans-serif;
//        span
//          font-family: 'OpenSansBold', sans-serif;
//          color: #115c89;
//
//  .controls
//    position: absolute
//    right: 0
//    top: 0
//    float: right
//    display: inline-block
//    width: 60px
//    height: 188px
//    border: 1px solid lightgray
//    &__cell
//      display: block
//      height: 100%
//      padding: 0
//    &__item
//      width: 100%
//      height: 50%
//      display: block
//      cursor: pointer
//      a
//        display: block
//        width: 100%
//        height: 100%
//        &:hover
//          text-decoration: none
//  .bx-prev
//  .bx-next
//    background: none
//  .controls__item--prev
//    //background: none
//    background: url('../img/doc-prev.png') center no-repeat
//  .controls__item--next
//    background: url('../img/doc-next.png') center no-repeat
//    border-top: 1px solid lightgray
//    //background: none
//
//      //&--prev
//      //&--next
//
//
//  .clinic
//    &__leftside
//      //float: left
//      display: inline-block
//      width: 48%
//      &-top
//        max-height: 100px
//
//      &-center
//        text-align: center
//        max-height: 270px
//        overflow hidden
//
//        img
//          //position: relative
//          //top: 30%
//          //display: inline-block
//          max-width:100%
//
//      &-bottom
//        height: 80px
//        border: 1px solid lightgray
//        *
//          box-sizing border-box
//        .bottom-item
//          height: 100%
//          text-align: center
//          display: inline-block
//          padding: 10px
//          color: #959595;
//          font-family: 'OpenSansBold', sans-serif;
//          font-size: 14px
//          text-transform: uppercase
//          &--link
//            &:hover
//              span
//                text-decoration underline
//        .rate
//          width: 28%
//          border-right 1px solid lightgray
//          span
//            display: inline-block
//            margin-bottom: 10px
//        .review
//          width: 22%
//          border-right 1px solid lightgray
//          vertical-align: top;
//          text-align: center
//          span
//            display: inline-block
//            margin-bottom: 10px
//          .clinic-avatar__review a, .clinic-avatar__review
//            float: none
//        .time
//          width: 47%
//          &table
//            padding: 0
//
//    &__logo
//      width: 50%
//      display: inline-block
//      text-align: center
//      min-height: 80px
//      img
//        display: inline-block
//        max-height: 74px
//        max-width: 100%
//    &__rightside
//      float: right
//      display: inline-block
//      width: 48%
//  .clinic-time-btn
//    background-color: #6ca92a;
//    background-image: linear-gradient(to top, #6ca92a 0%, #a6d547 100%);
//    border: 1px solid #70ac2c;
//    border-radius: 5px;
//    &:hover
//      text-decoration underline
//
//
//.docslide-wrap
//  width: 413px;
//  position: absolute;
//  bottom: 0;
//  right: 0;

.clinics
  &__wrapper
    position: relative
    font-size: 0

  &__doclist
    width: 413px;
    position: absolute;
    bottom: 0;
    right: 0;
    .clinic
      &-time
        //padding-right: 20px
        margin-top: 20px
        padding-bottom: 20px
        width: 100%
        float: none
        &__tel
          display: inline-block
          vertical-align: middle
          padding: 0
          padding-top: 5px
        &-btn
          display: inline-block
          float: right
          width: 50%
          margin-right: 10px

//.clinic__leftside
  //display: block