.clinics
  &__wrapper
    position: relative
    font-size: 0
  &-top__wrap
    margin-bottom: 20px
    .clinic
      &__logo
        max-width: 200px
        max-height: 100px
      &-about
        &__content
          &-caption
            display: inline-block
            //text-align: center
            max-width: 620px
            padding-left: 20px
        &__address
          margin-left: 30px
          width: 300px
          display: inline-block
          & > a
            text-decoration underline
            color: grey
            font-size: 14px
      &__filial
        display: inline-block
        width: 200px
        margin-left: 220px;
        & > a
          font-family: 'OpenSansBold', sans-serif;
          color: #115c89;
          font-size: 13px
  &__doclist
    width: 413px;
    position: absolute;
    bottom: 0;
    right: 0;
    .clinic
      &-time
        //padding-right: 20px
        margin-top: 20px
        padding-bottom: 20px
        width: 100%
        float: none
        &__tel
          display: inline-block
          vertical-align: middle
          padding: 0
          padding-top: 5px
        &-btn
          display: inline-block
          float: right
          width: 50%
          margin-right: 10px
