.clinics__wrapper
  padding: 0
  .clinic
    &-about
      p
        display: inline-block
        max-height: 90px
        overflow hidden

      &__content
        width: 45%
        float: right

    &__leftside
      display: inline-block
      width: 45%
