.visible-xs
  display: none
@media screen and (max-width: 414px)
  .hidden-xs
    display: none!important
  .visible-xs
    display: block
  body
  .wrapper
    width: 100%
    max-width: 414px
    //padding-bottom: 210px
  .wrapper
    padding-bottom: 220px
  .bg-body
    padding: 0

  header
    position: relative
    margin-bottom: 50px

  .right-sidebar
  .panel
  .header-logo span
  .search_block
  .ratemenu
  .steplist
  .ourproject
  .back-article
  //.crumbs
  .pagination-qw
  .alphabet-title
  .border-gradient
  .self-test
  .button-share__SN
  .forum
  .article-topic
  .pagination
  .clinics__wrapper
  .doc-information-map__wrap
  .doc-information__review
  .how-to
    display: none
  .header-main_menu
    display: none
    &.open
      display: block
      position: relative;
      width: 100%;
      top: 51px;
      position: fixed;

    li
      display: block
      width: 100%
      border-bottom 1px solid #bcd6e5;
      &:last-child a
        height: auto
        padding: 0
      a
        padding: 0
        height: auto
        text-align: left
  .header-logo
    float none
    img
      width: 150px
  .header-main_menu
    padding: 0
    z-index: 99;
  .main-submenu
    display: none
  .main_menu-item
    position: absolute;
    //top: -50px;
    white-space normal
    width: 100%
    border-bottom 1px solid #115c89
    .main_menu-list
      a
        width: 100%
        padding: 15px 20px;
        box-sizing: border-box;
        color: #115c89
        font-family: 'PTSansBold',sans-serif;
        &:hover
          opacity: 1
      &:first-child > a
        background-color: #fff;
      &:nth-child(2)
        background-color: #fff;
        //-moz-box-sizing: border-box;
        //-o-box-sizing: border-box;
        //box-sizing: border-box;
        height: auto
      &:nth-child(3) > a
        background-color: #fff;
      &:nth-child(4) > a
        background-color: #fff;
      &:nth-child(5) > a
        background-color: #fff;
      &:nth-child(6) > a
        background-color: #fff;
      &:nth-child(7) > a
        padding: 10px 0
        background-color: #fff;
        width: 100%;
        white-space: normal;

  .main_header
    font-size: 1.6rem;
  .diagnostic-wrap
    padding: 0 20px;
    box-sizing: border-box;

  .diagnostic__go
    text-align: center
  .diagnostic__go_btn
    padding: 10px 46px
  .imgwrap
    img
      display: inline-block
      max-width: 100%
  .diagnos-img
    margin: 30px 0
    text-align: center

  .footer-content
    text-align: center;
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.15), inset 0 2px 0 #ffa98b;
  .footer-content__right-side
    width: auto;
    display: inline-block;
    vertical-align: top;
    text-align: center;
    margin-top: 20px;
    &.mk
      a
        img
          max-width:100%

  .header-top
    border-bottom: 1px solid #115c89
    //display: flex;
    text-align: center;
    //justify-content: space-between;
    position: fixed;
    top: 0px;
    width: 100%;
    background: white;
    z-index: 999999;
    &__item
      padding-top: 8px;
      height: 50px;
      display: inline-block;
      vertical-align: middle;
      box-sizing: border-box;
      cursor: pointer;
    &__btn
      padding-top: 12px;
      width: 50px;
      box-sizing: border-box;
  .menu-burger
    background-color: #115c89
    float: left
    //margin-left: 15px;
  .menu-search
    float: right
    border-left: 1px solid #115c89
  .footer-content__article.mobile
    //margin-left: 0
    margin 30px 0
    a
      padding-right: 0
      border: none
      &:not(:first-child)
        padding-left: 5px;

  #nav-icon3{
    width: 30px;
    height: 25px;
    position: relative;
    //margin: 50px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
    margin: auto;
  }

  #nav-icon3 span{
    display: block;
    position: absolute;
    height: 5px;
    width: 100%;
    background: #fff;
    border-radius: 9px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
  }


  /* Icon 3 */

  #nav-icon3 span:nth-child(1) {
    top: 0px;
  }

  #nav-icon3 span:nth-child(2),#nav-icon3 span:nth-child(3) {
    top: 10px;
  }

  #nav-icon3 span:nth-child(4) {
    top: 20px;
  }

  #nav-icon3.open span:nth-child(1) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  #nav-icon3.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  #nav-icon3.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  #nav-icon3.open span:nth-child(4) {
    top: 18px;
    width: 0%;
    left: 50%;
  }

  .main-select
    width: 100%
    padding: 20px
    box-sizing border-box
    &__holder
      width: 100%
      border: 1px solid #cad6de;
      //background-color: white;
      background: #fff url(../mob/select.png) 96% center no-repeat
    &__item
      background: transparent
      height: 42px;
      width: 100%
      -webkit-appearance: none;
      border-radius: 0;
      padding: 10px;
      color: #9e9e9e;
      font-size: 14px;
  .main_docs_list
    background-color: #f4f9fc
  .bg-blue
    background-color: #f4f9fc
  .bg-pink
    background-color: #fffcfb
    padding: 20px

  .left-side
    float: none
    width: 100%

  .statya
    margin-top: 0

  .statya ul li
    padding: 10px
    box-sizing: border-box;
    border-bottom: 1px solid #e8e8e8;

  .statya-item__text p.statya-item__title
    padding-bottom: 0

  .statya-item__img
    margin-right: 15px
    height: 60px;
    width: 60px;
    overflow: hidden;
    img
      width: 200%;
      margin-top: -10%;
      margin-left: -50%;

  /*Bolezni*/
  .reason
    background-color: transparent
  .reason__img-left
    height: auto;
    position: initial;
    float: none;
    width: 100%;
    max-width: 100%;
    img
      height: auto;
      max-width: 100%;
  .reason__list--left
    position: relative;
    box-sizing: border-box;
    padding: 0px 40px;
    padding-right: 0;
    max-width: 100%;
  .doctor img
    float: none
    display: block;
    margin: auto
    max-width: 100%
  .doctor__list-item
    width: auto!important
  .doctor ol
    max-width: 90%;
    padding-left: 10px;
  .advice-folk__wrap
    padding: 0
    & > p
      padding: 20px
      text-align: center
    & > h4
      padding: 20px
      text-align: center
      font-size: 24px;
      font-weight: 700;
      color: black
  .advice-item
    padding-bottom: 0
  .advice-item > li
    white-space normal
    //text-align: center;
    height: auto
    padding: 20px 0;
    &:hover
      background-color: white;
      padding: 20px 0
      color: initial
      .item__text
      .item__text p
      .item__text-tit
      .item__img
        background-color: white
        color black
    .item__text
      max-height: 100%
      padding: 0 20px
      & > p
        padding: 0
    .item__text-tit
      margin: 20px 0
      display: inline-block;
    .item__img
      width: auto
      height: auto
      padding: 0 20px
      img
        width: auto
        height: auto
        max-width: 100%;

  .text-article > p
  .text-article > h4
  .text-article > .list
  .note__text
  .doctor > p
  .doctor > .list
    padding: 0 20px
    box-sizing border-box

  .two-column
    column-count 1

  /*doctor*/
  .clinic-about__wrap
    width: 58%

  .clinic-info--listDoc .clinic-about--listDoc > .clinic-about__content
    width: 100%
  .listDoc__about span.bg-grey
    float: none
    width: 100%
    background: none
  .clinic-time
    float:none
  //.listDoc__clinic-item
  .listDoc__clinic-item ul li span.bg-grey
  p.listDoc__note
  .clinic-info--listDoc .clinic-time .clinic-time-btn
  .phone_show
  .clinic-time__choise
  .clinic-time__willhelp
  .result-number__choose
  .review-doc-page
    display: none
  //.clinic-time
  .clinic-info--listDoc .clinic-time
    padding-top: 0
    width: auto
  .click_phone_number
    display: block
    padding-bottom: 0;
  .clinic-time__tel:before
    background: url(../img/sprite_index.png) no-repeat -1197px -219px;
  .clinic-time__tel--main-clinic a
    vertical-align: middle;
    font-size: 17px
  .clinic-about__wrap
    padding-top: 0
  .clinic-info--listDoc .clinic-about__content-caption
    padding-bottom: 10px
  .listDoc__about span.bg-grey
    padding: 0
  .listDoc__coast
    padding-bottom: 5px
  .result-clinic
    padding-top: 20px;
  .clinic-info--listDoc
    padding-bottom: 0
  .clinics__wrapper-xs
    font-size: 0
    border-bottom: 1px solid #d6d6d6;
    .clinic-about
      padding: 10px
      width: 70%;
  .clinic-about
    vertical-align: top;
    border:none
    box-sizing: border-box;
  .clinic__logo
    width: 30%
    position: relative
    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
    height: auto
    box-sizing: border-box;
  .clinic__logo img
    max-height: 100px;
    max-width: 100%;
    padding: 20px 0;
    //position: absolute;
    //top: 20%;
  .rate-xs
    //position: absolute
    //bottom: -20px
    background-color: #f2f2f2;
    text-align: center
    width: 100%
    box-sizing: border-box;
    white-space: nowrap;
    display: flex;
    justify-content: space-around;
    align-items: center;
    &__text
      display: inline-block
      font-size: 12px;
      font-weight: 400;
      text-transform: uppercase;
      color: #353535;
      box-sizing border-box
      //height: 30px
      //padding-right: 5px
      padding: 3px
    &__num
      display: inline-block
      color: #115c89;
      font-size: 18px;
      font-weight: 700;
      border-left: 1px solid #d6d6d6;
      box-sizing border-box
      padding: 3px
  .clinic-about__metro
    margin: 0
    //margin-top: 10px
    //padding: 0
  .clinic-search__title--bottom
    padding: 20px
    margin: 0

  /*doc inside*/
  .doc-information
    padding: 20px
    box-sizing border-box
    white-space: normal
    .cell
      display: block
      width: 100%
  .doc-information .table-info-doc
    .cell-title
      margin-bottom: 10px;
      margin-top: 10px;
      text-align: center;
      width: 100%;
    .clinic-about
      width: 100%
      & > li
        margin-bottom: 10px
        text-align: center;


  .info-photo
    float:none!important
    width: 100%
  .info-content
    width: 100%


  /*clinic*/
  .clinic-services__offer
  .doc-information-map
  .clinic-main-about__map
  .main-clinic
  .clinic-main-about__img
    display: none
  .clinic-services__inner
    width: 100%
    float: none;
    .clinics__wrapper-xs
      margin-bottom: 20px
  .main-clinic-list
    position: initial
    width: 100%
  .main-clinic-list > ul
    white-space: normal;
    box-sizing border-box
    border-left: 2px solid #62acd9;
    li
      border-bottom: 2px solid #62acd9;
      border-right: none
      margin: 0
      //display: block
      width: 100%
  .main-clinic-list > ul li:last-child
    width: 100%
  .clinic-main-about__text
    padding: 10px

  /*selftest*/
  .st-main__wrap
    width: 100%

  .st-bxslider__wrap {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
    //height: 200vh;
  }
  .st-pic {
    width: 100%;
    box-sizing: border-box;
  }
  .st-pic__wrap {
    width: 100%;
    /*left: calc(100% - 406px);*/
    right: 85px;
    position: relative;
  }
  .bg-body {
    padding: 0;
  }
  .move .st-pic__wrap .st-pic .st-pic__item-wrap .st-list
    margin-left: 85px;
  //  top: 100%;
  //  left: 0;
  //}
  .st-list
    width: 100%
    position: initial
    margin: auto;
    margin-top: 40px
    height: 54px;
    &.open
      height: auto

  //.move .st-pic__wrap
  //  margin-bottom: 50px
  //  position: initial;
  //  left: 0;

  //.move {
  //  margin: 0;
  //  -moz-transition: all 0.5s ease;
  //  -webkit-transition: all 0.5s ease;
  //  -o-transition: all 0.5s ease;
  //  transition: all 0.5s ease;
  //}

  .move .st-pic__wrap {
    position: relative;
    left: -85px;
    margin-bottom: 50px
  }

  //.move .st-pic__wrap .st-pic .st-pic__item-wrap .st-list {
  //  top: -60px;
  //  right: 0;
  //}